
$bg-color: hsl(255,255,255);
$dot-color: hsl(256,33,70);


$dot-size: 1px;
$dot-space: 22px;

.overview {
    font-family: nt-dapper, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1.5;
    font-size: 16px;
    height: 700px;
    background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center, $dot-color;
    background-size: $dot-space $dot-space;
    display: flex;
    .overview__content{
        width: 50%;
        left: 0;
        top: 0;
        overflow-y: auto;
        background: white;
        z-index: 400;
        width: 30%;
        max-width: 300px;
        padding: 16px;
        border-right: 1px solid rgb(243, 244, 245);
        display: block;
        position: relative;
        text-align: left;
        height: auto;
        .overview__content__group{
            display: block;
            .margin__top__40{
                margin-top: 40px;
            }
            .overview__content__field:hover{
                background: rgb(255, 0, 114);
                color: white;
            }
            .overview__content__field{
//                 border: 2px solid red;
                padding: 10px;
                margin-left: 20rem;
                border-radius: 25px;
                padding: 20px 10px;
                margin-left: 0;
                display: block;
                color: rgb(255, 0, 114);
                text-decoration: none;
                text-indent: 20px;
            }
          
            .overview__content__field__select{
                color: white;
                background: gray;
            }
    //             .overview__content__field:hover{
    //                 color: white;
    //                 background: gray;
    //             }
        }
    }
}